<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-fixportal" value="https://nuget.pkg.github.com/FixPortal/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-fixportal>
      <add key="Username" value="x-access-token" />
      <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
    </github-fixportal>
  </packageSourceCredentials>
</configuration>
